.story {
    display: flex;
    line-height: 24px;
    white-space: nowrap;
    margin: 10px 0;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #e3e3e3;
}

.story > span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.error{
    color: red;
    font-size: x-large;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.5px;
    padding: 50px;
}